<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/footer.css">
  <title>Login</title>
</head>

<body>
  {{#if error}}
  <div class="error">
    {{error}}
  </div>
  {{/if}}

  <form action="/registerplayer" method="POST" enctype="multipart/form-data">
    <img src="https://cdn.discordapp.com/attachments/1089033461668515850/1095804135766511686/cartola_logo.png" alt="">
    <input type="text" name="username" placeholder="Nº de matrícula" required>
    <input type="text" name="nome" placeholder="Nome (estampado na camiseta)">
    <input type="number" max="99" name="numero" placeholder="Nº da camiseta">
    <select name="equipe" required>
      <option value="Verde/Norte">Verde/Norte</option>
      <option value="Azul/Nordeste">Azul/Nordeste</option>
      <option value="Vermelho/Sudeste">Vermelho/Sudeste</option>
      <option value="Amarelo/Centro-oeste">Amarelo/Centro-oeste</option>
    </select>
    <select name="esporte" id="esporte">
      <option value="futsal">Futsal</option>
      <option value="basquete">Basquete</option>
      <option value="handebol">Handebol</option>
    </select>
    <select name="posicao" id="posicao">
      <option value="goleiro">Goleiro</option>
      <option value="fixo">Fixo</option>
      <option value="ala">Ala</option>
      <option value="pivo">Pivô</option>
    </select>
    <input type="file" name="foto" required>
    <button type="submit">Registrar</button>
    <br>
    <a onclick="javascript:history.back()">Voltar</a>
  </form>
  <footer>
    {{!-- instagram, github, whatsapp --}}
  </footer>
</body>
<script>
  const esporte = document.getElementById('esporte')
  const posicao = document.getElementById('posicao')
  const futsal = ['Goleiro', 'Fixo', 'Ala', 'Pivô']
  const basquete = ['Armador', 'Ala-armador', 'Ala', 'Ala-pivô', 'Pivô']
  const handebol = ['Goleiro', 'Armador', 'Meia', 'Ponta', 'Pivô']
  esporte.addEventListener('change', () => {
    posicao.innerHTML = ''
    if (esporte.value === 'futsal') {
      futsal.forEach((pos) => {
        posicao.innerHTML += `<option value="${pos.toLowerCase().replace('ô', 'o')}">${pos}</option>`
      })
    } else if (esporte.value === 'basquete') {
      basquete.forEach((pos) => {
        posicao.innerHTML += `<option value="${pos.toLowerCase().replace('ô', 'o')}">${pos}</option>`
      })
    } else if (esporte.value === 'handebol') {
      handebol.forEach((pos) => {
        posicao.innerHTML += `<option value="${pos.toLowerCase().replace('ô', 'o')}">${pos}</option>`
      })
    }
  })
  esporte.value = 'futsal'
</script>

</html>